body {
    background-color: #494949;
    font-size: 16px;
}

/* Centrage vertical du menu */
.mainContainer {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.mainContainer .vCenter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

/* On applique box-sizing: border-box à tous les éléments pour faciliter le redimensionnement des objets */
* {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Centrage horizontal du menu de navigation */
#menu {
    text-align: center;
    display: block;
    width: 90%;
    margin: 50px auto;
}

/* Suppression des boutons de la liste */
#menu ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
}

.menuitem {
    display: block;
    float: left;
    width: 14.5%;
    padding: 10px;

    background: #444;
    margin: 15px;

    color: whitesmoke;
    font: 12px 'Oswald', Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;

    /* Transitions */
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    transition: background 0.5s ease;

    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

a.menuitem:hover {
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Couleurs des liens */
nav li:nth-child(1) a:hover {
    background-color: #7764c5;
}

nav li:nth-child(1) a {
    background-color: #a186ff;
}

nav li:nth-child(2) a:hover {
    background-color: #4cc5b0;
}

nav li:nth-child(2) a {
    background-color: #5effe5;
}

nav li:nth-child(3) a:hover {
    background-color: #c57b4a;
}

nav li:nth-child(3) a {
    background-color: #ffa659;
}

nav li:nth-child(4) a:hover {
    background-color: #468cc5;
}

nav li:nth-child(4) a {
    background-color: #5cb4ff;
}

nav li:nth-child(5) a:hover {
    background-color: #c5ba16;
}

nav li:nth-child(5) a {
    background-color: #f4e919;
}

nav li:nth-child(6) a:hover {
    background-color: #c56065;
}

nav li:nth-child(6) a {
    background-color: #ff7a85;
}

/* ************* */
/* Media queries */
/* ************* */

/* HDTV landscape */
@media only screen and (min-width : 1281px) and (orientation:landscape) {
    #menu {
        width: 60%;
    }

    .menuitem {
        height: 6em;
        width: 25%;
        margin: 2%;
        font-size: 2em;
    }

    .menuitem span {
        display: none;
    }

    a.menuitem:hover span {
        display: block;
    }
}

/* HDTV portrait */
@media only screen and (max-width : 1080px) and (orientation:portrait), only screen and (max-device-width : 1080px) and (orientation:portrait) {
    #menu {
        width: 66%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 2em;
    }
}

/* WideScreen landscape */
@media only screen and (max-width : 1280px) and (orientation:landscape) , only screen and (max-device-width : 1280px) and (orientation:landscape) {
    #menu {
        width: 80%;
    }

    .menuitem {
        width: 27%;
        margin: 3%;
        font-size: 2em;
    }
}

/* WideScreen portrait */
@media only screen and (max-width : 800px) and (orientation:portrait) , only screen and (max-device-width : 800px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 1.5em;
    }

}

/* HD Tablet landscape */
@media only screen and (max-width : 1024px) and (orientation:landscape) , only screen and (max-device-width : 1024px) and (orientation:landscape) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 25%;
        margin: 4%;
        font-size: 2em;
    }
}

/* HD Tablet portrait */
@media only screen and (max-width : 768px) and (orientation:portrait) , only screen and (max-device-width : 768px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 2em;
    }
}

/* Small Tablet landscape */
@media only screen and (max-width : 800px) and (orientation:landscape) , only screen and (max-device-width : 800px) and (orientation:landscape) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 25%;
        margin: 4%;
        font-size: 2em;
    }
}

/* Small Tablet portrait */
@media only screen and (max-width : 600px) and (orientation:portrait) , only screen and (max-device-width : 600px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 2em;
    }
}

/* Middle Phone landscape */
@media only screen and (max-width : 800px) and (orientation:landscape) , only screen and (max-device-width : 800px) and (orientation:landscape) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 25%;
        margin: 4%;
        font-size: 2em;
    }
}

/* Middle Phone portrait */
@media only screen and (max-width : 480px) and (orientation:portrait) , only screen and (max-device-width : 480px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 2em;
    }
}

/* Small Phone landscape */
@media only screen and (max-width : 480px) and (orientation:landscape) , only screen and (max-device-width : 480px) and (orientation:landscape) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 25%;
        margin: 4%;
        font-size: 1.3em;
    }
}

/* Small Phone portrait */
@media only screen and (max-width : 320px) and (orientation:portrait) , only screen and (max-device-width : 320px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 1.3em;
    }
}

/* Very Old Phone portrait */
@media only screen and (max-width : 240px) and (orientation:portrait) , only screen and (max-device-width : 240px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40% !important;
        margin: 5% !important;
        font-size: 1em !important;
    }
}

/* iPhone5 landscape */
@media only screen and (max-width : 568px) and (orientation:landscape) , only screen and (max-device-width : 568px) and (orientation:landscape) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 25%;
        margin: 4%;
        font-size: 1.3em;
    }
}

/* Nexus 4 landscape */

@media only screen and (max-width : 1280px) and (orientation:landscape) , only screen and (max-device-width : 1280px) and (orientation:landscape) {
    #menu {
        width: 80%;
    }

    .menuitem {
        width: 27%;
        margin: 3%;
        font-size: 1.3em;
    }
}

/* Nexus 4 portrait */
@media only screen and (max-width : 768px) and (orientation:portrait) , only screen and (max-device-width : 768px) and (orientation:portrait) {
    #menu {
        width: 90%;
    }

    .menuitem {
        width: 40%;
        margin: 5%;
        font-size: 1.3em;
    }
}

